@font-face {
  font-family: Lobster;
  src: url("../style/font/Lobster.otf");
}
.orange {
  display: inline;
  font-family: "Lobster";
  text-align: center;
  /* font-size: 20vmin; */
  /* line-height: 40vmin; */
  font-size: 2rem;
  color: #fff;
  /* color: #ff5722; */
  cursor: pointer;
  animation: orange 1.5s ease-in-out infinite alternate;
}

@keyframes orange {
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff5722,
      0 0 70px #ff5722, 0 0 80px #ff5722, 0 0 100px #ff5722, 0 0 150px #ff5722;
  }

  from {
    filter: brightness(110%);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff5722,
      0 0 35px #ff5722, 0 0 40px #ff5722, 0 0 50px #ff5722, 0 0 75px #ff5722;
  }
}
